.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 72px);
}

.loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
}
.loaderDualRing {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid var(--color-btn);
    border-radius: 50%;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
