.hero {
    position: relative;
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background-color: var(--color-main);
}

.heroImage {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: brightness(0.7);
}

.heroContent {
    z-index: 10;
    padding-left: 2rem;
    color: #fff;
    margin: 0 auto;
}

.heroContent h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 16px 0;
    line-height: 1.2;
}

.heroContent h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 40px 0;
    line-height: 1.33;
}
