:root {
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6C717B;
  --color-btn: #D84848;
  --color-btn-hover: #D84343;
  --color-rating: #FFC531;
  --color-gray-light: #DADDE1;
  --color-badges: #F2F4F7;
  --color-input: #F7F7F7;
  --color-white: #FFFFFF;
}

html {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--color-main);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  min-height: 100vh;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}